<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
  <div class="container nvbar">
    <h2>Topics menu</h2>
    <div class="row">
      <ul class="list-inline menu">
        <li><a routerLink="overview">Data Research Server UI Overview</a></li>
        <li><a routerLink="analyze">User Data</a></li>
        <li><a routerLink="multivariate">User Anaylitics</a></li>
        <li><a routerLink="multivariate">Research Reports</a></li>
      </ul>
    </div>
  </div>
</nav>
